<div class="social-links">
    <a href="https://github.com/nebiyuelias1" target="_blank"><img src="assets/icons/github.svg" class="social-links__logo" alt="github logo"></a>

    <a href="https://twitter.com/nebex_elias" target="_blank"><img src="assets/icons/twitter.svg" class="social-links__logo" alt="twitter logo"></a>

    <a href="https://www.linkedin.com/in/nebiyu-elias-talefe-8a2b24168/" target="_blank"><img src="assets/icons/linkedin.svg" class="social-links__logo" alt="linked in logo"></a>

    <a href="mailto:nebiyuelias1@gmail.com?subject=Hi Nebiyu"><img src="assets/icons/envelope.svg" class="social-links__logo" alt="mail icon"></a>
</div>