/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 650px;
    width: 100%;
}

.p-1 {
    padding: 1em;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
